---
layout: default
title: Tags
page-title: tags
home-title: Let's pick something
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.categories.size>0 %}
            {% for category in site.categories %}
            <a href="#{{ category[0] }}" class="tag">{{ category[0] }}</a>
            {% endfor %}
        {% endif %}
        </li>
        {% for category in site.categories %}
        
        {% if category[1].size>0 %}
        <li>
            <span class="tag-name" id="{{ category[0] }}">「{{ category[0] }}」</span>
            {% for post in category[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        {% endif %}

        {% endfor%}
    </ul>
</main>
{% include footer.html %}
