{% capture social_media_li %}
<ul class="social-media">

    {% if site.style.social.twitter %}
    <li>
        <a title="{{ site.style.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.style.social.twitter }}" 
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>   
    {% endif %}

    {% if site.style.social.gplus %}
    <li>
        <a title="{{ site.style.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.style.social.gplus }}" 
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.style.social.facebook %}
    <li>
        <a title="{{ site.style.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.style.social.facebook }}" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.style.social.github %}
    <li>
        <a title="{{ site.style.social.github }} on Github" 
            href="https://github.com/{{ site.style.social.github }}" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %} 

    {% if site.style.social.dribble %}
    <li>
        <a title="{{ site.style.social.dribble }} on Dribble" 
            href="https://dribbble.com/{{ site.style.social.dribble }}" 
            class="dribble wc-img-replace" target="_blank">Dribble</a>
    </li> 
    {% endif %}

    {% if site.style.social.pinterest %}
    <li>
        <a title="{{ site.style.social.pinterest }} on Pinterest" 
            href="https://www.pinterest.com/{{ site.style.social.pinterest }}" 
            class="pinterest wc-img-replace" target="_blank">Pinterest</a>
    </li> 
    {% endif %}

    <li>
        <a title="Subscribe via RSS" 
            href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
            class="rss wc-img-replace" target="_blank">
            RSS
        </a>
    </li>

</ul>
{% endcapture %}{{ social_media_li | strip_newlines }}
