{{ if (not (isset .Site.Params "comments")) }}
  {{ .Scratch.Set "enable_comments" false }}
{{ else if (isset .Params "comments") }}
  {{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if (isset .Site.Params.Comments "enabled") }}
  {{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
  {{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ if (isset .Params "bsky" ) }}
  {{ .Scratch.Set "bsky_uri" .Params.Bsky }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ $bsky_uri := .Scratch.Get "bsky_uri" }}
{{ if $enable_comments }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const uri = 'https://bsky.app/profile/ashwinmenon.com/post/{{ $bsky_uri }}';
      if (uri) {
        initBlueskyComments('bluesky-comments', uri);
      } 
    });
  </script>
To leave a comment, go <a href="https://bsky.app/profile/ashwinmenon.com/post/{{ $bsky_uri }}">here</a>
<div id="bluesky-comments">
</div>

{{ end }}

