{{ if (not (isset .Site.Params "comments")) }}
  {{ .Scratch.Set "enable_comments" false }}
{{ else if (isset .Params "comments") }}
  {{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if (isset .Site.Params.Comments "enabled") }}
  {{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
  {{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ $bsky_uri := .Params.bsky }}
{{ if and $enable_comments $bsky_uri }}
<h2>Comments</h2>
<link rel="stylesheet" href="https://unpkg.com/bluesky-comments@0.3.0/dist/bluesky-comments.css">
<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/bluesky-comments@0.3.0/dist/bluesky-comments.umd.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    initBlueskyComments('bluesky-comments', 'https://bsky.app/profile/ashwinmenon.com/post/{{ $bsky_uri }}');
  });
</script>
<a href="https://bsky.app/profile/ashwinmenon.com/post/{{ $bsky_uri }}">Leave a comment</a>
<div id="bluesky-comments"></div>
{{ end }}
