{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <div class="pagination">
        {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}" aria-label="Previous page"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
        {{ end }}
        <span class="page-number">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</span>
        {{ if $pag.HasNext }}
            <a href="{{ $pag.Next.URL }}" aria-label="Next page"><i class="fas fa-angle-right" aria-hidden="true"></i>
            </a>
            {{ end }}
    </div>
{{ end }}
