---
layout: default
---

{% include fb-init.html %}

<div class="post">

  {% if page.banner_image %}
  <div class="banner-image">
    <img 
        src="{{ "/assets/images/" | append: page.banner_image | prepend: site.baseurl | prepend: site.url }}" 
        alt="{{ page.banner_image_alt }}">
  </div>
  {% endif %}

  {% if page.banner_video %}
    <div class="banner_video">
      {{ page.banner_video }}
    </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
    {% if page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
    {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}  
    </span>
    </p>
  </header>

  <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}%2F&amp;src=sdkpreparse">Share</a></div>

  <article class="post-content">
    {{ content }}    
  </article>

  {% if site.related_posts %}
    <div class="related-posts">
      <h4>Related Posts</h4>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <h5>
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="author-info">
    {% if site.style.show_author_info %}
      {% include author.html %}
    {% endif %}
  
    {% if site.style.show_share_buttons %}
      {% include share-buttons.html %}
    {% endif %}  
  </div>
  
  <div class="all-comments">
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
    {% if page.comments %}
      <div class="comments">
          <a href="javascript:;" class="load-view">View Disqus comments</a>
          <div id="disqus_thread"></div>
          <div id="g-comments"></div>
      </div>
    {% endif %}
  </div>
</div>

